@font-face {
 font-family: "FiraSans";
 font-style: normal;
 font-weight: 400;
 src: url("../fonts/FiraSans/FiraSans-400.woff2") format("woff2");
 font-display: swap;
}

@font-face {
 font-family: "FiraSans";
 font-style: normal;
 font-weight: 700;
 src: url("../fonts/FiraSans/FiraSans-700.woff2") format("woff2");
 font-display: swap;
}

@font-face {
 font-family: "PTSans";
 font-style: normal;
 font-weight: 400;
 src: url("../fonts/PTSans/PTSans-400.woff2") format("woff2");
 font-display: swap;
}

@font-face {
 font-family: "PTSans";
 font-style: normal;
 font-weight: 700;
 src: url("../fonts/PTSans/PTSans-700.woff2") format("woff2");
 font-display: swap;
}

@font-face {
 font-family: "PTSans";
 font-style: italic;
 font-weight: 400;
 src: url("../fonts/PTSans/PTSans-Italic-400.woff2") format("woff2");
 font-display: swap;
}

html {
 height: 100%;
}

.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 padding: 0;
 border: 0;
 clip: rect(0 0 0 0);
 overflow: hidden;
}

body {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 24px;
 color: #000000;
 background-color: #ffffff;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 min-height: 100%;
 width: 100%;
}

.upper-header {
 width: 1170px;
 margin: 0 auto;
 display: flex;
 justify-content: space-between;
}

.upper-header-add {
 display: flex;
}

.upper-header-title {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-style: italic;
 font-size: 14px;
 line-height: 18px;
 color: #ee3643;
 margin-top: 13px;
 margin-bottom: 13px;
}

.upper-header-adress {
 font-size: 14px;
 line-height: 18px;
 color: #32425c;
}

.upper-header-phone {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 16px;
 line-height: 18px;
 color: #293449;
 letter-spacing: 2px;
 border: none;
 background-color: #ffffff;
 cursor: pointer;
 margin-left: 31px;
}

.phone-icon {
 margin-right: 8px;
}

.middle-header {
 background-color: #293449;
}

.middle-header-navigation {
 width: 1170px;
 margin: 0 auto;
 min-height: 45px;
 display: flex;
 justify-content: space-between;
}

.middle-header-add {
 display: flex;
}

.middle-header-title-link {
 width: 220px;
 height: 45px;
 background-color: #ee3643;
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 position: relative;
}

.middle-header-title-link::before {
 position: absolute;
 content: "";
 width: 220px;
 height: 5px;
 background-color: #b52933;
 bottom: -5px;
 left: 0;
}

.middle-header-search-field {
 background-color: #293449;
 cursor: pointer;
 border: none;
 width: 400px;
 height: 45px;
}

.middle-header-search-field::placeholder {
 color: #ffffff;
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 24px;
}

.middle-header-search-field:hover {
 outline: 2px solid #63a63e;
}

.middle-header-search-field:focus {
 outline: 2px solid #ffbf47;
}

.search-icon {
 position: relative;
 top: 5px;
 cursor: pointer;
 margin-left: 21px;
 margin-right: 5px;
}

.enterance-button {
 border: none;
 background-color: #293449;
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 color: #ffffff;
 letter-spacing: 2px;
 text-transform: uppercase;
 cursor: pointer;
 display: flex;
 align-items: center;
 padding: 0;
 position: relative;
}

.enterance-button-icon {
 margin-right: 10px;
}

.enterance-button:hover + .entrance {
 display: block;
}

.entrance {
 position: absolute;
 top: 96px;
 right: 34px;
 width: 360px;
 min-height: 330px;
 border-radius: 2px;
 box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
 display: flex;
 flex-direction: column;
 z-index: 1;
 background-color: #ffffff;
 display: none;
}

.entrance-title {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 24px;
 line-height: 30px;
 text-transform: uppercase;
 margin-top: 22px;
 margin-left: 31px;
 margin-bottom: 43px;
 position: relative;
}

.entrance-close-button {
 position: absolute;
 top: 19px;
 right: 19px;
 width: 20px;
 height: 20px;
 border-radius: 50%;
 background-color: #ffffff;
 border: none;
 cursor: pointer;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0;
}

.entrance-input-container {
 display: flex;
 flex-direction: column;
}

.login-input {
 width: 286px;
 height: 36px;
 border-radius: 2px;
 border: 2px solid #c5c5c5;
 padding: 0;
 margin-left: 31px;
}

.login-input::placeholder {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 padding-left: 14px;
 font-weight: 400;
 font-size: 16px;
 line-height: 24px;
}

.password-input {
 width: 286px;
 height: 36px;
 border-radius: 2px;
 border: 2px solid #c5c5c5;
 padding: 0;
 margin-top: 7px;
 margin-left: 31px;
}

.password-input::placeholder {
 padding-left: 14px;
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 24px;
}

.entrance-buttons-container {
 display: flex;
 align-items: center;
 margin-top: 13px;
}

.entrance-button-bird {
 padding: 0;
 width: 20px;
 height: 20px;
 border: none;
 cursor: pointer;
 margin-left: 31px;
 background-color: #ffffff;
}

.entrance-button-remember {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 14px;
 line-height: 18px;
 border: none;
 margin-left: 18px;
 background-color: #ffffff;
 padding: 0;
 cursor: pointer;
}

.entrance-button-forget {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 14px;
 line-height: 18px;
 border: none;
 margin-left: 18px;
 background-color: #ffffff;
 padding: 0;
 cursor: pointer;
}

.enter-buttons-container {
 display: flex;
 margin-top: 39px;
}

.entrance-button-add {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 border: none;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 color: #ffffff;
 background-color: #63a63e;
 letter-spacing: 2px;
 text-transform: uppercase;
 cursor: pointer;
 display: flex;
 align-items: center;
 margin-left: 26px;
 padding: 0;
 position: relative;
 width: 145px;
 min-height: 40px;
 border-radius: 2px;
}

.entrance-button-add:hover {
 background-color: #5fbb2d;
}

.entrance-button-add:active {
 background-color:#518534;
}

.enterance-button-icon-add {
 margin-left: 25px;
 margin-right: 12px;
}

.entrance-button-reg {
 border: 2px solid #63a63e;
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 color: #32425c;
 background-color: #ffffff;
 letter-spacing: 2px;
 text-transform: uppercase;
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-left: 5px;
 padding: 0;
 position: relative;
 width: 141px;
 min-height: 36px;
 border-radius: 2px;
}

.entrance-button-reg:hover {
 border: 2px solid #3d546f;
}

.entrance-button-reg:active {
 opacity: 60%;
}

.entrance-add {
 position: absolute;
 top: 96px;
 right: 34px;
 width: 360px;
 min-height: 273px;
 border-radius: 2px;
 box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
 display: flex;
 flex-direction: column;
 z-index: 1;
 background-color: #ffffff;
}

.entrance-title-add {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 24px;
 line-height: 30px;
 text-transform: uppercase;
 margin-top: 22px;
 margin-left: 31px;
 margin-bottom: 26px;
 position: relative;
}

.entrance-form-add {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
}

.entrance-add-orders {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 text-transform: uppercase;
 color: #3d546f;
 letter-spacing: 2px;
 border: none;
 background-color: #ffffff;
 cursor: pointer;
 padding: 0;
 margin-left: 31px;
 margin-bottom: 23px;
}

.entrance-add-cab {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 text-transform: uppercase;
 color: #3d546f;
 letter-spacing: 2px;
 border: none;
 background-color: #ffffff;
 cursor: pointer;
 padding: 0;
 margin-left: 31px;
}

.exit-add {
 border: 2px solid #63a63e;
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 color: #32425c;
 background-color: #ffffff;
 letter-spacing: 2px;
 text-transform: uppercase;
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-left: 31px;
 margin-top: 24px;
 padding: 0;
 position: relative;
 width: 141px;
 min-height: 36px;
 border-radius: 2px;
}

.lower-header {
 background-color: #3d546f;
}

.header-navigation {
 width: 1170px;
 margin: 0 auto;
 display: flex;
 justify-content: space-between;
 background-color: #3d546f;
 height: 70px;
}

.header-navigation {
 display: flex;
 align-items: center;
}

.lower-header-list {
 list-style-type: none;
 color: #ffffff;
 display: flex;
 justify-content: space-between;
 width: 765px;
 padding: 0;
 margin-top: 0;
 margin-bottom: 12px;
}

.lower-header-item:not(:first-child) {
 margin-left: 46.5px;
}

.lower-header-link {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 24px;
 color: #ffffff;
 text-decoration: none;
 cursor: pointer;
 padding-top: 10px;
 padding-bottom: 10px;
 z-index: 1;
}

.lower-header-link:hover {
 background-color: #32425c;
}

.lower-header-link:active {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
}

.lower-header-buttons-list {
 list-style-type: none;
 display: flex;
 align-items: center;
 padding: 0;
 margin: 0;
}

.lower-header-buttons-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookmark-button {
 border: none;
 background-color: #3d546f;
 cursor: pointer;
}

.bucket-button {
 border: none;
 background-color: #3d546f;
 cursor: pointer;
 margin-left: 10px;
}

.order-button {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 text-transform: uppercase;
 color: #ffffff;
 letter-spacing: 1.5px;
 background-color: #63a63e;
 width: 170px;
 min-height: 42px;
 border-radius: 4px;
 cursor: pointer;
 border: none;
 margin-left: 26px;
 padding: 0;
}

.order-button:hover {
 background-color: #5fbb2d;
}

.order-button:active {
 background-color:#518534;
}

.cards {
 width: 1170px;
 margin: 0 auto;
}

.cards-list {
 list-style-type: none;
 padding: 0;
 display: grid;
 grid-template-columns: 370px 370px 370px;
 column-gap: 30px;
 row-gap: 27px;
 margin-top: 52px;
 margin-bottom: 0;
}

.cards-item {
 height: 180px;
 display: flex;
 flex-direction: column;
}

.cards-item-materials {
 grid-row-start: 1;
 grid-row-end: 1;
 grid-column-start: 1;
 grid-column-end: 1;
}

.materials {
 background-color: #ffbf47;
 position: relative;
}

.materials-item {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 24px;
 line-height: 30px;
 color: #ffffff;
 text-transform: uppercase;
 margin-top: 20px;
 margin-left: 25px;
}

.materials-link {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 color: #ffffff;
 letter-spacing: 2px;
 border: 2px solid #ffffff;
 width: 175px;
 min-height: 35px;
 background-color: #ffbf47;
 cursor: pointer;
 margin-top: 57px;
 margin-left: 25px;
 margin-bottom: 33px;
 display: flex;
 align-items: center;
 position: relative;
 text-decoration: none;
 text-transform: uppercase;
}

.materials-icon {
 position: absolute;
 top: 51px;
 left: 250px;
}

.materials-icon-new {
 position: absolute;
 top: 0;
 right: 0;
 z-index: 1;
}

.card-button-icon {
 margin-left: 10px;
 margin-right: 9px;
}

.cards-item-instruments {
 grid-row-start: 1;
 grid-row-end: 1;
 grid-column-start: 2;
 grid-column-end: 2;
}

.instruments {
 background-color: #3bbce3;
 position: relative;
}

.instruments-item {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 24px;
 line-height: 30px;
 color: #ffffff;
 text-transform: uppercase;
 margin-top: 20px;
 margin-left: 25px;
}

.instruments-link {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 color: #ffffff;
 letter-spacing: 2px;
 border: 2px solid #ffffff;
 width: 175px;
 min-height: 35px;
 background-color: #3bbce3;
 cursor: pointer;
 margin-top: 57px;
 margin-left: 25px;
 margin-bottom: 33px;
 display: flex;
 align-items: center;
 position: relative;
 text-decoration: none;
 text-transform: uppercase;
}

.instruments-icon {
 position: absolute;
 top: 51px;
 left: 250px;
}

.cards-item-technic {
 grid-row-start: 1;
 grid-row-end: 1;
 grid-column-start: 3;
 grid-column-end: 3;
}

.technic {
 background-color: #dc91d8;
 position: relative;
}

.technic-item {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 24px;
 line-height: 30px;
 color: #ffffff;
 text-transform: uppercase;
 margin-top: 20px;
 margin-left: 25px;
}

.technic-link {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 color: #ffffff;
 letter-spacing: 2px;
 border: 2px solid #ffffff;
 width: 175px;
 min-height: 35px;
 background-color: #dc91d8;
 cursor: pointer;
 margin-top: 57px;
 margin-left: 25px;
 margin-bottom: 33px;
 display: flex;
 align-items: center;
 position: relative;
 text-decoration: none;
 text-transform: uppercase;
}

.technic-icon {
 position: absolute;
 top: 51px;
 left: 250px;
}

.cards-item-discounts {
 grid-row-start: 2;
 grid-row-end: 2;
 grid-column-start: 3;
 grid-column-end: 3;
}

.discounts {
 background-color: #8ed78f;
 position: relative;
}

.discounts-item {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 24px;
 line-height: 30px;
 color: #ffffff;
 text-transform: uppercase;
 margin-top: 20px;
 margin-left: 25px;
}

.discounts-link {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 color: #ffffff;
 letter-spacing: 2px;
 border: 2px solid #ffffff;
 width: 175px;
 min-height: 35px;
 background-color: #8ed78f;
 cursor: pointer;
 margin-top: 57px;
 margin-left: 25px;
 margin-bottom: 33px;
 display: flex;
 align-items: center;
 position: relative;
 text-decoration: none;
 text-transform: uppercase;
}

.discounts-icon {
 position: absolute;
 top: 51px;
 left: 250px;
}

.delivery {
 background-color: #ffbf47;
 position: relative;
}

.cards-item-delivery {
 grid-row-start: 3;
 grid-row-end: 3;
 grid-column-start: 3;
 grid-column-end: 3;
}

.delivery-item {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 24px;
 line-height: 30px;
 color: #ffffff;
 text-transform: uppercase;
 margin-top: 20px;
 margin-left: 25px;
}

.delivery-link {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 color: #ffffff;
 letter-spacing: 2px;
 border: 2px solid #ffffff;
 width: 175px;
 min-height: 35px;
 background-color: #ffbf47;
 cursor: pointer;
 margin-top: 57px;
 margin-left: 25px;
 margin-bottom: 33px;
 display: flex;
 align-items: center;
 position: relative;
 text-decoration: none;
 text-transform: uppercase;
}

.delivery-icon {
 position: absolute;
 top: 51px;
 left: 250px;
}

.cards-item-slider {
 grid-row-start: 2;
 grid-row-end: 3;
 grid-column-start: 1;
 grid-column-end: 3;
}

.slider {
 min-height: 390px;
 background-image: url(../images/slider-background.jpg);
 background-color: #ffffff;
 display: flex;
 flex-direction: column;
 position: relative;
}

.slider-add {
 height: 390px;
 background-image: url(../images/slider-backgroud-add.jpg);
 background-color: #ffffff;
 display: flex;
 flex-direction: column;
 position: relative;
}

.slider-item {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 36px;
 line-height: 42px;
 color: #ffffff;
 text-transform: uppercase;
 margin-top: 50px;
 margin-left: 50px;
 margin-bottom: 0;
}

.slider-text {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 18px;
 line-height: 24px;
 color: #ffffff;
 margin-top: 10px;
 margin-left: 50px;
 margin-bottom: 0;
}

.slider-link {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 color: #ffffff;
 text-transform: uppercase;
 letter-spacing: 2px;
 background-color: #ee3643;
 border: none;
 width: 195px;
 min-height: 45px;
 margin-top: 180px;
 margin-left: 50px;
 border-radius: 4px;
 cursor: pointer;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0;
 text-decoration: none;
}

.slider-link:hover {
 background-color:#ca2c37;
}

.slider-link:active {
 background-color:#ba2732;
}

.left-arrow-slider {
 position: absolute;
 width: 50px;
 height: 50px;
 border-radius: 50%;
 background: #293449;
 cursor: pointer;
 top: 180px;
 left: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
 border: none;
}

.right-arrow-slider {
 position: absolute;
 width: 50px;
 height: 50px;
 border-radius: 50%;
 background: #293449;
 cursor: pointer;
 top: 180px;
 right: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
 border: none;
}

.slider-buttons-container {
 display: flex;
 margin: 17px auto 15px auto;
 width: 40px;
}

.slider-button-circle:not(:first-child) {
 margin-left: 8px;
}

.slider-button-circle {
 width: 8px;
 min-width: 8px;
 height: 8px;
 min-height: 8px;
 border-radius: 50%;
 background-color: #ffd180;
 cursor: pointer;
 border: none;
}

.circle-first {
 background-color: #ffffff;
}

.catalog {
 width: 260px;
}

.catalog-container {
 display: flex;
 justify-content: space-between;
 width: 1170px;
 margin: 0 auto;
}

.catalog-title {
 font-family: "FiraSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 32px;
 line-height: 42px;
 color: #293449;
 text-transform: uppercase;
 margin-top: 50px;
 margin-bottom: 0;
}

.price-range {
 position: relative;
}

.price-text {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 16px;
 line-height: 24px;
 text-transform: uppercase;
 color: #000000;
 margin-top: 26px;
 margin-bottom: 0;
}

.price-text::before {
 position: absolute;
 content: "";
 width: 8px;
 height: 1px;
 background-color: #3d546f;
 top: 97px;
 left: 107px;
}

.range-input-container {
 width: 220px;
 height: 40px;
 background-color: #f7f3ec;
 margin-top: 8px;
 position: relative;
}

.range-input-add {
 display: flex;
 margin-top: 7px;
}

.range-input:not(:first-child) {
 margin-left: 30px;
}

.range-input {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 14px;
 line-height: 18px;
 color: #293449;
 width: 95px;
 height: 40px;
 background-color: #f7f3ec;
 border: none;
 text-align: center;
 padding: 0;
}

.range-ball-one {
 position: absolute;
 content: "";
 width: 18px;
 height: 18px;
 border-radius: 50%;
 background-color: #ffffff;
 border: 2px solid #3d546f;
 top: 10px;
 left: 19px;
 z-index: 2;
 cursor: pointer;
}

.range-ball-two {
 position: absolute;
 content: "";
 width: 18px;
 height: 18px;
 border-radius: 50%;
 background-color: #ffffff;
 border: 2px solid #3d546f;
 top: 10px;
 right: 110px;
 z-index: 2;
 cursor: pointer;
}

.range-stick-one {
 position: absolute;
 content: "";
 width: 102px;
 height: 2px;
 background-color: #3d546f;
 top: 19px;
 left: 95px;
 z-index: 1;
}

.range-stick-two {
 position: absolute;
 content: "";
 width: 64px;
 height: 2px;
 background-color: #5fbb2d;
 top: 19px;
 left: 40px;
 z-index: 1;
}

.checkbox {
 display: flex;
 flex-direction: column;
}

.manufacturers-text {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 16px;
 line-height: 24px;
 text-transform: uppercase;
 margin-top: 40px;
 margin-bottom: 0;
}

.checkbox-value {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 14px;
 line-height: 18px;
 margin-left: 36px;
 position: relative;
 cursor: pointer;
 margin-top: 22px;
}

.checkbox-value:hover {
 opacity: 30%;
}

.checkbox-value:disabled {
 opacity: 60%;
}

.control-mark-checkbox {
 display: flex;
}

.control-mark-checkbox::before {
 position: absolute;
 content: "";
 width: 17px;
 height: 17px;
 background-color: #ffffff;
 border: 2px solid #3d546f;
 top: -2px;
 left: -36px;
 cursor: pointer;
 border-radius: 2px;
}

.checkbox-input:checked + label .control-mark-checkbox {
 position: absolute;
 content: "";
 top: -2px;
 left: -36px;
 width: 21px;
 height: 21px;
 background-image: url(../images/checkbox-bird.svg);
 background-color: #ffffff;
 cursor: pointer;
}

.checkbox-input:checked +label .control-mark-checkbox::before {
 display: none;
}

.radio-buttons {
 display: flex;
 flex-direction: column;
}

.power-text {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 16px;
 line-height: 24px;
 text-transform: uppercase;
 margin-top: 45px;
 margin-bottom: 0;
}

.radio-value {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 14px;
 line-height: 18px;
 cursor: pointer;
 margin-left: 36px;
 position: relative;
 margin-top: 20px;
}

.radio-value:hover {
 opacity: 30%;
}

.radio-value:disabled {
 opacity: 60%;
}

.control-mark-radio::before {
 position: absolute;
 content: "";
 width: 18px;
 height: 18px;
 border: 2px solid #3d546f;
 border-radius: 50%;
 background-color: #ffffff;
 cursor: pointer;
 top: -4px;
 left: -33px;
}

.radio-input:checked + label .control-mark-radio::after {
 position: absolute;
 content: "";
 width: 8px;
 height: 8px;
 border-radius: 50%;
 background-color: #3d546f;
 cursor: pointer;
 top: 3px;
 left: -26px;
}

.filter-button {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 text-transform: uppercase;
 letter-spacing: 2px;
 width: 220px;
 min-height: 40px;
 background-color: #ffffff;
 border: 2px solid #3d546f;
 border-radius: 2px;
 cursor: pointer;
 margin-top: 45px;
}

.filter-button:hover {
 border: 2px solid #63a63e;
}

.filter-button:active {
 opacity: 60%;
}

.cards-catalog {
 width: 876px;
}

.select-sort {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 24px;
 color: #293449;
 background-color: #ffffff;
 width: 280px;
 min-height: 40px;
 padding-left: 16px;
 border: 2px solid #3d546f;
 cursor: pointer;
 margin-top: 150px;
 border-radius: 2px;
 margin-left: 5px;
}

.select-sort:hover {
 border: 2px solid #63a63e;
}

.select-sort:focus {
 border: 2px solid #ffbf47;
}

.catalog-cards-list {
 list-style-type: none;
 margin-top: 31px;
 margin-bottom: 0;
 display: grid;
 grid-template-columns: 270px 270px 270px;
 column-gap: 33px;
 row-gap: 29px;
 padding: 0;
}

.card-item {
 width: 270px;
 height: 380px;
 position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.card-item-icon-new {
 position: absolute;
 top: 0;
 right: 0;
 z-index: 1;
}

.card-img {
 margin-top: 27px;
}

.card-title {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 20px;
 line-height: 26px;
 color: #293449;
 text-align: center;
 margin-top: 14px;
 margin-bottom: 0;
 width: 200px;
}

.old-price {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 letter-spacing: 2px;
 color: #a9a9a9;
 text-align: center;
 text-decoration: line-through;
 position: absolute;
 top: 275px;
 right: 100px;
}

.card-button {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 letter-spacing: 2px;
 color: #ffffff;
 width: 139px;
 min-height: 40px;
 background-color: #ee3643;
 border-radius: 2px;
 cursor: pointer;
 margin-top: 43px;
 border: none;
 clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%, 0% 50%);
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
 padding-top: 14px;
 padding-left: 28px;
}

.card-button:hover {
 background-color:#ca2c37;
}

.card-button:active {
 background-color:#ba2732;
}

.hover-buy-button {
 border: none;
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 color: #ffffff;
 background-color: #63a63e;
 letter-spacing: 2px;
 text-transform: uppercase;
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 0;
 position: absolute;
 top: 62px;
 right: 71px;
 width: 135px;
 min-height: 40px;
 display: none;
}

.hover-buy-button:hover {
 background-color: #5fbb2d;
}

.hover-buy-button:active {
 background-color:#518534;
}

.hover-buy-icon {
 margin-right: 8px;
}

.hover-note-button {
 border: 2px solid #63a63e;
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 color: #32425c;
 background-color: #ffffff;
 letter-spacing: 2px;
 text-transform: uppercase;
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 0;
 position: absolute;
 top: 113px;
 right: 71px;
 width: 135px;
 min-height: 36px;
 border-radius: 2px;
 display: none;
}

.hover-note-button:hover {
 border: 2px solid #3d546f;
}

.hover-note-button:active {
 opacity: 60%;
}

.card-item:hover {
 box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.card-item:hover .card-img {
 opacity: 30%;
}

.card-item:hover .hover-buy-button {
 display: block;
}

.card-item:hover .hover-note-button {
 display: block;
}

.pagination {
 display: flex;
 justify-content: center;
 margin-top: 32px;
}

.pagination-button:not(:first-child) {
 margin-left: 8px;
}

.pagination-button {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 16px;
 line-height: 16px;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 50px;
 height: 45px;
 background-color: #3d546f;
 color: #ffffff;
 cursor: pointer;
 border: none;
 border-radius: 2px;
}

.pagination-button-two {
 background-color: #ffffff;
 color: #3d546f;
}

.pagination-more-button {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 text-transform: uppercase;
 letter-spacing: 2px;
 color: #ffffff;
 width: 195px;
 min-height: 45px;
 background-color: #ee3643;
 border-radius: 2px;
 cursor: pointer;
 margin-left: 17px;
 border: none;
 padding: 0;
}

.pagination-more-button:hover {
 background-color:#ca2c37;
}

.pagination-more-button:active {
 background-color:#ba2732;
}

.service {
 min-height: 670px;
 margin: 53px auto 0 auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: #f4f7f9;
}

.service-title {
 font-family: "FiraSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 32px;
 line-height: 42px;
 text-transform: uppercase;
 margin-top: 52px;
 margin-bottom: 0;
}

.service-text {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 18px;
 line-height: 24px;
 color: #293449;
 text-align: center;
 width: 555px;
 margin-top: 30px;
 margin-bottom: 0;
}

.service-container {
 width: 1170px;
 margin: 0 auto;
}

.service-list {
 list-style-type: none;
 padding: 0;
 margin-top: 65px;
 margin-bottom: 0;
 display: flex;
}

.service-item {
 width: 370px;
 min-height: 382px;
 box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
 border-radius: 2px;
 display: flex;
 flex-direction: column;
}

.service-item:not(:first-child) {
 margin-left: 30px;
}

.service-item-icon {
 margin-top: 27px;
 margin-left: 31px;
}

.service-item-title {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 24px;
 line-height: 30px;
 color: #32425c;
 margin-top: 42px;
 margin-bottom: 21px;
 margin-left: 31px;
 text-transform: uppercase;
}

.service-item-text {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 24px;
 width: 300px;
 margin-left: 31px;
 margin-top: 0;
}

.contacts {
 width: 1170px;
 margin: 0 auto;
 display: flex;
 justify-content: space-between;
}

.about {
 display: flex;
 flex-direction: column;
 width: 550px;
}

.about-title {
 font-family: "FiraSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 32.5px;
 line-height: 42px;
 color: #293449;
 margin-top: 52px;
 margin-bottom: 23px;
 text-transform: uppercase;
}

.about-text {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 24px;
 color: #293449;
 margin-top: 0;
 margin-bottom: 0;
 width: 500px;
}

.about-text-add {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 24px;
 color: #293449;
 margin-top: 25px;
 margin-bottom: 0;
 width: 500px;
}

.about-button {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
 text-transform: uppercase;
 letter-spacing: 2px;
 color: #ffffff;
 width: 195px;
 min-height: 45px;
 background-color: #ee3643;
 border-radius: 2px;
 cursor: pointer;
 margin-top: 52px;
 padding: 0;
 border: none;
}

.about-button:hover {
 background-color:#ca2c37;
}

.about-button:active {
 background-color:#ba2732;
}

.contacts-container {
 display: flex;
 flex-direction: column;
 width: 500px;
}

.contacts-title {
 font-family: "FiraSans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 32px;
 line-height: 42px;
 color: #293449;
 margin-top: 52px;
 margin-bottom: 23px;
}

.contacts-text {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 24px;
 color: #293449;
 margin-top: 0;
 margin-bottom: 0;
 width: 500px;
}

.contacts-img {
 margin-top: 31px;
 margin-bottom: 43px;
}

.page-footer {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 background-color: #32425c;
 min-height: 276px;
}

.upper-footer {
 display: flex;
 width: 1170px;
 margin: 0 auto;
 justify-content: space-between;
}

.left-footer {
 display: flex;
 flex-direction: column;
}

.middle-footer-title-link {
 width: 220px;
 height: 50px;
 background-color: #ee3643;
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 margin-bottom: 21px;
 position: relative;
}

.middle-footer-title-link::before {
 position: absolute;
 content: "";
 width: 220px;
 height: 5px;
 background-color: #b52933;
 bottom: -5px;
 left: 0;
}

.left-footer-text {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 24px;
 color: #f3f7f9;
 margin-top: 5px;
 margin-bottom: 0;
 width: 320px;
}

.footer-links {
 display: flex;
 margin-top: 23px;
 align-items: center;
 margin-bottom: 33px;
}

.footer-link:not(:first-child) {
 margin-left: 5px;
}

.footer-link {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 36px;
 height: 36px;
 border-radius: 50%;
 cursor: pointer;
 border: none;
 background-color: rgba(255, 255, 255, 0.1);
}

.footer-link:hover {
 background-color: #293449;
}

.right-footer {
 display: flex;
 flex-direction: column;
 align-items: end;
}

.right-footer-text {
 font-weight: 400;
 font-size: 16px;
 line-height: 24px;
 color: #ffffff;
 margin-top: 15px;
 margin-bottom: 0;
}

.right-footer-email {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 24px;
 color: #ffd180;
 cursor: pointer;
}

.right-footer-email:hover {
 color: #ffbf47;
}

.right-footer-text-more {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 24px;
 color: #ffffff;
 margin-top: 29px;
 margin-bottom: 2px;
}

.right-footer-form {
 display: flex;
}

.email-field {
 width: 221px;
 height: 36px;
 border: 1px solid #63a63e;
 border-radius: 2px 0 0 2px;
 cursor: pointer;
 padding: 0;
}

.email-field::placeholder {
 opacity: 60%;
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 14px;
 line-height: 18px;
 color: #bdbdbd;
 padding-left: 16px;
}

.email-field:hover {
 outline: 2px solid #63a63e;
}

.email-field:focus {
 outline: 2px solid #ffbf47;
}

.email-button {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 40px;
 height: 40px;
 border-radius: 0 2px 2px 0;
 border: none;
 background-color: #63a63e;
 padding: 0;
 cursor: pointer;
}

.email-button:hover {
 background-color: #5fbb2d;
}

.email-button:active {
 background-color:#518534;
}

.lower-footer {
 background-color: #293449;
}

.lower-footer-container {
 display: flex;
 justify-content: space-between;
 width: 1170px;
 margin: 0 auto;
}

.lower-footer-text {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 14px;
 line-height: 18px;
 color: #ffffff;
 margin-top: 21px;
 margin-bottom: 21px;
}

.lower-footer-text-container {
 display: flex;
}

.lower-footer-text-add {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 14px;
 line-height: 18px;
 color: #ffffff;
 margin-top: 21px;
 margin-bottom: 21px;
}

.lower-footer-link {
 font-family: "PTSans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 14px;
 line-height: 18px;
 color: #ffd180;
 margin-top: 21px;
 margin-bottom: 21px;
 text-decoration: none;
}

.lower-footer-link:hover {
 color: #ffbf47;
}